* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.main-container {
    display: flex;
    height: 85vh;
}

.search-container {
    background: black;
    width: 20%;
}

.album-container {
    background: #444;
    width: 80%;
}

.controls-container {
    background: #888;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 15%;
}
